# IDE config
.vscode
.cache
compile_commands.json

# Python env
pyenv
# Python cache
__pycache__

# Build directories
obj_dir
build

# Others
waveform.vcd
examples/extra
testlog

*.trace
*.kanata
*.log
